:root {
    /* primary */
    --color-orange: hsl(25, 97%, 53%);

    /* neutral */
    --color-white: hsl(0, 0%, 100%);
    --color-light-grey: hsl(217, 12%, 63%);
    --color-dark-blue: hsl(213, 19%, 18%);
    --color-very-dark-blue: hsl(216, 12%, 8%);

        
    --spacing-05: 0.125rem;
    --spacing-1: 0.25rem;
    --spacing-2: 0.5rem;
    --spacing-3: 0.75rem;
    --spacing-4: 1rem;
    --spacing-5: 1.25rem;
    --spacing-6: 1.5rem;
    --spacing-7: 1.75rem;
    --spacing-8: 2rem;
    --spacing-9: 2.25rem;
    --spacing-10: 2.5rem;
    --spacing-12: 3rem;
    --spacing-16: 4rem;
    --spacing-20: 5rem;

    font-size: 15px;

    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.manrope-bold {
  font-weight: bold;
}

body, h1, p {
    margin: 0;
}

main {
    min-height: 100vh;
    background-color: var(--color-light-grayish-blue);
    padding: var(--spacing-20) var(--spacing-8);
}